.banner{
    height: 223px;
    flex-shrink: 0;
    @include big-radius;
    position: relative;
    @include flex-center;
    margin-top: 50px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        filter: brightness(70%);
      }

    &__text{
        position:absolute;
        color: #FFF;
        font-size: 48px;
        font-weight: 500;

        @media (max-width:$breakpoint-tablette){
            text-align: start;
            left:16px;
            font-size: 32px;
        }

        @media (max-width:$breakpoint-mobile){
            left:16px;
        }
    }

    &__mobile{
        display: none;

        @media (max-width: $breakpoint-tablette){
            display: block;
        }
    }

    @media (max-width:$breakpoint-mobile){
        height: 111px;
        @include small-radius;
    }
}