.footer {
    align-items: center;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 209px;
    margin: 0;
    gap:28.5px;

    @media (max-width:$breakpoint-mobile) {
        gap:15px;
    }

    p {
        color: white;

        @media (max-width:$breakpoint-mobile) {
            width: 25%;
            text-align: center;
            font-size: 12px;
        }
    }

    
}