.header{
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    margin: 45px 100px 0 100px;

    &__logo{
        height: 100%;
        flex-shrink: 0;
    }

    &__nav{
        display: flex;
        align-items: flex-start;
        gap: 57px;

        &--link{
            color: $color-primary;
            text-decoration: none;

            &.active{
                text-decoration: underline;
            }
            
            @media (max-width:$breakpoint-mobile){
                font-size: 12px;
                text-transform: uppercase;
            }

        }

        @media (max-width:$breakpoint-mobile){
            gap: 26px;
        }

    }

    @media (max-width:$breakpoint-tablette){
        margin:20px 20px 0 20px;
        height: 46px;
    }
}