.slideshow{
    position: relative;
    width:100%;
    height:415px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: $breakpoint-mobile) {
        height: 255px;
    }

    &__picture{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        filter: brightness(75%);

        &--hidden{
            display: none;
        }
    }

    &__arrow{
        position: absolute;
        top:160px;
        cursor: pointer;
        z-index: 1;

        @media (max-width: $breakpoint-tablette){
            width: 20px;
            top:180px;
        }

        @media (max-width: $breakpoint-mobile) {
            top:110px;
        }

        &--left{
            left:23px;
        }

        &--right{
            right:23px;
        }

    }


    &__nb{
        z-index: 1;
        position: absolute;
        padding-bottom: 25px;

        @media (max-width: $breakpoint-mobile){
            display: none;
        }
    }

}