@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    max-width: 1440px;
}
