.info{
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-mobile){
        flex-direction: column;
    }

    &__logement{
        &--title{
            color:$color-primary;
            font-size:36px;
            font-weight: 500;

            @media (max-width: $breakpoint-mobile){
                font-size: 18px;
            }
        }
        &--loc{
            color:$color-primary;
            font-size: 18px;

            @media (max-width: $breakpoint-mobile){
                font-size: 14px;
            }
        }

        &--tags {
            display: flex;
            gap: 10px;
            list-style-type: none;
            padding: 20px 0;

        
            .item {
                text-align: center;
                width: auto;
                padding: 4px 30px;
                height: 25px;
                font-size: 14px;
                @include small-radius;
                background-color: $color-primary;

                @media (max-width: $breakpoint-mobile){
                    font-size: 10px;
                    height: 18px;
                    padding-top: 2px;
                }
            }
        }
    }

    &__host{
        display: flex;
        flex-direction: column;
        gap:20px;


        &--name{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap:30px;

            @media (max-width: $breakpoint-mobile){
                gap: 10px;
            }

            p{
                width:90px;
                color:$color-primary;
                text-align: right;
                font-size: 18px;

                @media (max-width: $breakpoint-mobile){
                    font-size: 12px;
                    width: 45px;
                }
            }

            img{
                width:64px;
                height: 64px;
                border-radius : 100px;

                @media (max-width: $breakpoint-mobile){
                    width: 32px;
                    height: 32px;
                }
            }

        }

        &--rate{
            display: flex; 
            justify-content: space-between;
            width: 196px;
            height: 36px;
            
            @media (max-width: $breakpoint-mobile){
                width: 98px;
                height: 18px;
            }
        
            .star {
                width: 28px;
                height: 28px;

                @media (max-width: $breakpoint-mobile){
                    width:15px;
                    height:15px;
                }
            }
        }

        @media (max-width: $breakpoint-mobile){
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

    }
}

.info2{
    display: flex;
    align-items: flex-start;
    gap: 76px;

    &__equipments{
        padding:0;
        margin:0;

        &--items{
            color:$color-primary;
            list-style: none;

            @media (max-width: $breakpoint-mobile){
                font-size: 13px;
            }

            @media (max-width: $breakpoint-tablette){
                font-size: 18px;
            }
        }

    }

    @media (max-width: $breakpoint-tablette){
        flex-direction: column;
        gap: 20px;
    }
}