.info{
    display: flex;
    justify-content: space-between;
    gap: 45px;

    &__logement{
        &--title{
            color:$color-primary;
        }
        &--loc{
            color:$color-primary;
        }

        &--tags {
            display: flex;
            gap: 10px;
            list-style-type: none;
            padding: 0;
        
            .item {
                text-align: center;
                width: auto;
                padding: 4px 30px;
                height: 25px;
                font-size: 14px;
                border-radius: 10px;
                background-color: $color-primary;
            }
        }
    }

    &__host{
        &--name{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap:30px;

            p{
                width:90px;
                color:$color-primary;
                text-align: right;
            }

            img{
                width:64px;
                height: 64px;
                border-radius : 100px;
            }

        }

        &--rate{
            display: flex; 
            justify-content: space-between;
            width: 196px;
            height: 36px;
        
            .star {
                width: 30px;
                height: 30px;
            }
        }

    }
}

.info2{
    display: inline-flex;
    align-items: flex-start;
    gap: 76px;

    &__equipments{
        color:$color-primary;
        list-style: none;
    }
}